### Are Americans facing increasing, decreasing, or steady likelihood of death?

In [6]:
import pandas as pd
import numpy as np
#read csv with death causes
deathcause_data=pd.read_csv('C:/Users/Rushabh-Pc/Desktop/Fall 2019/python bana/NCHS_-_Leading_Causes_of_Death__United_States.csv')
deathcause_data.head(2)

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,2012,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,21,2.6
1,2016,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,30,3.7

In [7]:
#read excel with census data; notice that the data available is from 2010 to 2018
population_data=pd.read_excel('C:/Users/Rushabh-Pc/Desktop/Fall 2019/python bana/nst-est2018-01.xlsx',header=3,index_col=0)
population_data.head(2)

,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018
United States,308745538.0,308758105.0,309326085.0,311580009.0,313874218.0,316057727.0,318386421.0,320742673.0,323071342.0,325147121.0,327167434.0
Northeast,55317240.0,55318430.0,55380645.0,55600532.0,55776729.0,55907823.0,56015864.0,56047587.0,56058789.0,56072676.0,56111079.0

In [8]:
cols_year_deaths=[0,4]
yearly_deaths = deathcause_data[deathcause_data.columns[cols_year_deaths]]
#notice that data available is from 1999 to 2016
grouped_years = yearly_deaths.groupby('Year').sum().T
grouped_years

Year,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Deaths,8594450,8611090,8631566,8724520,8720806,8523496,8675996,8561880,8540026,8689930,8551328,8641568,8769558,8839734,9014608,9129652,9451294,9556734

In [9]:
#common years from both tables
available_year_data = list(grouped_years.columns.intersection(population_data.columns))
available_year_data

[2010, 2011, 2012, 2013, 2014, 2015, 2016]

In [10]:
#In the generic form, mortality rates are calculated as: deaths/population*10^3  ,for per 1000 population
death_rate=(grouped_years[available_year_data]/population_data[available_year_data].loc['United States'])*1000
print("Deaths per 1000 Americans has not drastically changed over the year and is as follows:")
death_rate

Deaths per 1000 Americans has not drastically changed over the year and is as follows:

Year,2010,2011,2012,2013,2014,2015,2016
Deaths,27.936758,28.145445,28.163301,28.52203,28.674753,29.466905,29.580878

### What are the four leading causes of death for Americans?

In [11]:
cols_cause_deaths=[2,4]
cause_deaths = deathcause_data[deathcause_data.columns[cols_cause_deaths]]
grouped_cause = cause_deaths.groupby('Cause Name').sum()
four_leading_causes=grouped_cause.sort_values(by=['Deaths'],ascending=False).iloc[1:5]
print('Four leading causes of death for Americans:')
four_leading_causes

Four leading causes of death for Americans:

                 Deaths
Cause Name
Heart disease  23150366
Cancer         20489072
Stroke          5160280
CLRD            4869452

### Do individual states show the same four leading causes of death?

In [43]:
#notice that data available is from 1999 to 2016
grouped_state = deathcause_data[['State','Cause Name','Deaths']].groupby(['State','Cause Name']).aggregate(sum).sort_values(by=['Deaths'],ascending=False).reset_index('State')
grouped_state=grouped_state
state_four_leading_causes=grouped_state.groupby('State').apply(lambda x:x.iloc[1:5]).reset_index('Cause Name')
#disp_state_four_leading_causes=state_four_leading_causes.reset_index(drop='State')
#disp_state_four_leading_causes['Cause Name'].value_counts().head(4)
#The Frequency counts of contents in the Cause Name column display the same 4 Causes
lead_4_causes_state=state_four_leading_causes['Cause Name'].value_counts()
lead_4_causes_state

answer=lead_4_causes_state/52*100
print(lead_4_causes_state,"\n",answer)

Cancer                    52
Heart disease             52
Stroke                    43
CLRD                      40
Unintentional injuries    20
Alzheimer's disease        1
Name: Cause Name, dtype: int64
 Cancer                    100.000000
Heart disease             100.000000
Stroke                     82.692308
CLRD                       76.923077
Unintentional injuries     38.461538
Alzheimer's disease         1.923077
Name: Cause Name, dtype: float64

### Are there year-by-year changes in the four leading causes of death nationwide?

In [48]:
grouped_year = deathcause_data[['Year','Cause Name','Deaths']].groupby(['Year','Cause Name']).aggregate(sum).sort_values(by=['Deaths'],ascending=False).reset_index('Year')
grouped_year=grouped_year
year_four_leading_causes=grouped_year.groupby('Year').apply(lambda x:x.iloc[1:5]).reset_index('Cause Name')
year_four_leading_causes
lead_causes_year=year_four_leading_causes['Cause Name'].value_counts()
lead_causes_year
answer2=lead_causes_year/18*100
print(year_four_leading_causes)
print(lead_causes_year,'\n',answer2)

                  Cause Name  Year   Deaths
Year
1999           Heart disease  1999  1450384
1999                  Cancer  1999  1099676
1999                  Stroke  1999   334732
1999                    CLRD  1999   248362
2000           Heart disease  2000  1421520
2000                  Cancer  2000  1106182
2000                  Stroke  2000   335322
2000                    CLRD  2000   244018
2001           Heart disease  2001  1400284
2001                  Cancer  2001  1107536
2001                  Stroke  2001   327076
2001                    CLRD  2001   246026
2002           Heart disease  2002  1393894
2002                  Cancer  2002  1114542
2002                  Stroke  2002   325344
2002                    CLRD  2002   249632
2003           Heart disease  2003  1370178
2003                  Cancer  2003  1113804
2003                  Stroke  2003   315378
2003                    CLRD  2003   252764
2004           Heart disease  2004  1304972
2004                  Cancer  2004  1107776
2004                  Stroke  2004   300148
2004                    CLRD  2004   243974
2005           Heart disease  2005  1304182
2005                  Cancer  2005  1118624
2005                  Stroke  2005   287158
2005                    CLRD  2005   261866
2006           Heart disease  2006  1263272
2006                  Cancer  2006  1119776
...                      ...   ...      ...
2009                    CLRD  2009   274706
2009                  Stroke  2009   257684
2010           Heart disease  2010  1195378
2010                  Cancer  2010  1149486
2010                    CLRD  2010   276160
2010                  Stroke  2010   258952
2011           Heart disease  2011  1193154
2011                  Cancer  2011  1153382
2011                    CLRD  2011   285886
2011                  Stroke  2011   257864
2012           Heart disease  2012  1199422
2012                  Cancer  2012  1165246
2012                    CLRD  2012   286978
2012                  Stroke  2012   257092
2013           Heart disease  2013  1222210
2013                  Cancer  2013  1169762
2013                    CLRD  2013   298410
2013  Unintentional injuries  2013   261114
2014           Heart disease  2014  1228696
2014                  Cancer  2014  1183400
2014                    CLRD  2014   294202
2014  Unintentional injuries  2014   271856
2015           Heart disease  2015  1267684
2015                  Cancer  2015  1191860
2015                    CLRD  2015   310082
2015  Unintentional injuries  2015   293142
2016           Heart disease  2016  1270520
2016                  Cancer  2016  1196076
2016  Unintentional injuries  2016   322748
2016                    CLRD  2016   309192

[72 rows x 3 columns]
Cancer                    18
Heart disease             18
CLRD                      18
Stroke                    14
Unintentional injuries     4
Name: Cause Name, dtype: int64
 Cancer                    100.000000
Heart disease             100.000000
CLRD                      100.000000
Stroke                     77.777778
Unintentional injuries     22.222222
Name: Cause Name, dtype: float64

In [42]:
cols_cause_year_state_deaths=[0,2,3,4]
cause_year_deaths = deathcause_data[deathcause_data.columns[cols_cause_year_state_deaths]]
cause_year_deaths_g=cause_year_deaths[['Year','Cause Name','Deaths']].groupby(['Year','Cause Name']).aggregate(sum).sort_values(by=['Year']).reset_index('Cause Name')
year_by_year=cause_year_deaths_g.groupby('Year').apply(lambda x:x.iloc[1:5])
year_by_year


#Cancer=year_by_year.loc[year_by_year['Cause Name']== 'Cancer']
#Heart=year_by_year.loc[year_by_year['Cause Name']== 'Heart Disease']
#Stroke=year_by_year.loc[year_by_year['Cause Name']== 'Stroke']
#CLRD=year_by_year.loc[year_by_year['Cause Name']== 'CLRD']
#result = pd.concat([Cancer,Heart,Stroke,CLRD])
#result.drop(['Cause Name'], axis=1)

                        Cause Name   Deaths
Year Year
1999 1999      Alzheimer's disease    89072
     1999                     CLRD   248362
     1999                   Cancer  1099676
     1999                 Diabetes   136798
2000 2000                  Suicide    58700
     2000                   Stroke   335322
     2000           Kidney disease    74502
     2000  Influenza and pneumonia   130626
2001 2001   Unintentional injuries   203074
     2001                  Suicide    61244
     2001                   Stroke   327076
     2001  Influenza and pneumonia   124068
2002 2002                  Suicide    63310
     2002                   Stroke   325344
     2002           Kidney disease    81948
     2002  Influenza and pneumonia   131362
2003 2003   Unintentional injuries   218554
     2003                  Suicide    62968
     2003                   Stroke   315378
     2003  Influenza and pneumonia   130326
2004 2004                  Suicide    64878
     2004                   Stroke   300148
     2004  Influenza and pneumonia   119328
     2004           Kidney disease    84960
2005 2005   Unintentional injuries   235618
     2005                  Suicide    65274
     2005                   Stroke   287158
     2005           Kidney disease    87802
2006 2006                  Suicide    66600
     2006                   Stroke   274238
...                            ...      ...
2009 2009  Influenza and pneumonia   107384
     2009            Heart disease  1198826
2010 2010                   Stroke   258952
     2010           Kidney disease   100952
     2010  Influenza and pneumonia   100194
     2010            Heart disease  1195378
2011 2011                  Suicide    79036
     2011                   Stroke   257864
     2011           Kidney disease    91182
     2011  Influenza and pneumonia   107652
2012 2012                  Suicide    81200
     2012                   Stroke   257092
     2012   Unintentional injuries   255584
     2012  Influenza and pneumonia   101272
2013 2013                  Suicide    82298
     2013                   Stroke   257956
     2013           Kidney disease    94224
     2013  Influenza and pneumonia   113958
2014 2014   Unintentional injuries   271856
     2014           Kidney disease    96292
     2014  Influenza and pneumonia   110454
     2014            Heart disease  1228696
2015 2015                  Suicide    88386
     2015           Kidney disease    99918
     2015  Influenza and pneumonia   114124
     2015            Heart disease  1267684
2016 2016               All causes  5488496
     2016      Alzheimer's disease   232206
     2016                     CLRD   309192
     2016                   Cancer  1196076

[72 rows x 2 columns]